@font-face {
   font-family: 'Oleo Script';
   font-style: normal;
   font-weight: 700;
   src: url('file:///G:/AngelZone%20Apps/work/A1Pressure%20website//fonts/Oleo Script/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Oleo Script';
   font-style: regular;
   font-weight: 400;
   src: url('file:///G:/AngelZone%20Apps/work/A1Pressure%20website//fonts/Oleo Script/regular.ttf') format('truetype');
}
