@font-face {
   font-family: 'Clicker Script';
   font-style: regular;
   font-weight: 400;
   src: url('file:///G:/AngelZone%20Apps/work/A1Pressure%20website//fonts/Clicker Script/regular.ttf') format('truetype');
}
